#repos {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
}

#repos-error {
    margin-top: 0;
    color: red;
}

.repo {
    width: 200px;
    height: 200px;
    padding: 1em;
    margin: 0.5em;
    flex-shrink: 0;
    cursor: pointer;
    font-size: 0.8em;
    border: 1px solid #b3b3b3;
}

.repo a {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.repo .repo-name {
    margin: 0;
    font-weight: bold;
    font-size: 1em;
}

.repo .repo-desc {
    color: #747171;
    font-size: 1em;
}

.repo .cube-icon {
    width: 20px;
    height: 20px;
    color: #616161;
    margin-left: auto;
}
